<div>
  <div class="row invitacion justify-content-center">
    <div class="col-lg-4 col-10 col-md-6 py-xl-1  text-center">
      <h5 class="lh-base">
        “Bendice Señor nuestra unión, que el amor hacia ti sea la base de este matrimonio que hoy nos une y que nuestra
        vida sea un ejemplo de tu amor”.
        <br>
        <span class="fs-6">
          Nosotros:
        </span>
      </h5>
      <h2 class="display-3 nombres m-0">
        Elvira
        <br>
        y
        <br>
        Alex
      </h2>
      <h5 class="lh-base">
        Con la bendicion de nuestros padres:
        <div>
          Mario y Nancy
        </div>
        <div>
          Alejandro y Esperanza
        </div>
        Queremos que seas parte de este momento especial,
        que se llevara a cabo el dia Sabado
        <br>
        <span class="fs-1">
          21 · mayo · 2022
        </span>
        <br>
        a horas 11:00 am.
        <br>
        en la iglesia
        <br>
        <span class="fs-1">
          Pio X
        </span>
        <span>
          <br>
          Después de la ceremonia religiosa los invitamos a acompañarnos
          en la recepción social a llevarse a cabo en el salón de fiestas
        </span>
        <br>
        <span class="fs-1">
          Renatas
        </span>
        <br>
        Avenida del policia - Satelite (El Alto)
        <br>
      </h5>
    </div>
  </div>
</div>