<div class="pt-2 pie">
<h2>
    <span class="h2 text-uppercase">
        Sorteo
        <br>
        Domingo
        <br>
    </span>
    
    <span class="h1">
        7 de agosto
    </span>
</h2>
<h3>
    3:00 Pm.
</h3>
<h4>
    envía tu comprobante 
    <br>
    al whatsapp 78985443
</h4>
<p>Todos por mike.</p>
<a href="
https://api.whatsapp.com/send?phone=59178985443&text=hola%20quiero%20comprar%20una%20rifa
" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
</div>