<div>
    <div class="row">
        <div class="col">
            <h5 class="lh-base">
                <span class="fs-1">
                    21 · mayo · 2022
                </span>
                <br>
                a horas 11:00 am.
                <br>
                en la iglesia
                <br>
                <span class="fs-1">
                    Pio X
                </span>
                <br>
                <span class="text-muted h6">Avenida del policia - Satelite (El Alto)</span>
                <span>
                    <br>
                    Después de la ceremonia religiosa los invitamos a acompañarnos
                    en la recepción social a llevarse a cabo en el salón de fiestas
                </span>
                <br>
                <span class="fs-1">
                    Renatas
                </span>
                <br>
                <span class="text-muted h6">
                    Avenida del policia - Satelite (El Alto)
                </span>
                <br>
            </h5>
        </div>
    </div>
</div>