<div>
    <div class="row">
        <div class="col">
            <h5 class="lh-base">
                <span class="fs-1">
                    9 de julio de 2022
                </span>
                <br>
                a horas 14:30 pm.

                <br>
                <span class="fs-2">
                    Comedor "A"
                    <br>
                    <span class="fs-3">
                        planta Bon gusto
                    </span>
                </span>
                <br>
                <span>
                    <br>
                    No faltes, te esperamos!!!
                </span>
                <br>
                <hr>
                <span class="fs-1">
                    (Shsh es un secreto)
                </span>
                <br>
                <span class="text-white-50 h6">
                    Asi lo tenia planeado el ;-)  
                </span>
                <br>
            </h5>
        </div>
    </div>
</div>