<div>
    <div class="row tit">
        <div class="col">
            <hr>
            <h5 class="lh-base">
                Gran
                <br>
                <span class="nombres fs-3">
                    RIFA solidaria
                </span>
            </h5>
        </div>
        <div class="col-12">
            <h2 >
                <span class="todos" >
                    Todos por Mike
                </span>
                
            <!-- <span class="display-3 nombres">
                Mike
            </span> -->
        </h2>
            <hr>
        </div>
        <div class="col-12">
            <h2>
                Tu tambien puedes ayudar
            </h2>
            <p>
                Como es de su conocimiento, Theo el bebé de Mike está en estado crítico en terapia intensiva a causa de complicaciones en parto, la cuenta en el hospital para sumando día a día además de los medicamentos, insumos y estudios que se requieren cubrir a diario.
Puedes colaborar comprando una rifa con la cual a parte de ayudar tendrás la oportunidad de ganar uno de los muchos premios que se sortearán.

            </p>
        </div>
    </div>
</div>