<div class="row">
    <div class="col-12">
        <h5>
            Asi es como va estar la cosa
        </h5>
    </div>
    <div class="col-12">
        <table class="table py-3">
            <tbody>
                <tr *ngFor=" let actividad of actividades">
                    <th class="invitacion" scope="row">{{actividad.id}}</th>
                    <td class="invitacion"> {{actividad.hora}} </td>
                    <td class="invitacion">{{actividad.actividad}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>