<div>
    <div class="row invitacion">
        <div class="col-12">
            <h5>
                Con la bendicion de nuestros padres:
            </h5>
        </div>
        <div class="col-6">
            <h5 class="h6">
                Mario Saravia Contratras
                <br><br>
                Nancy Guzman de Saravia
            </h5>
        </div>
        <div class="col-6">
            <h5 class="h6">
                Alejandro Quisbert Barrientos
                <br><br>
                Esperanza Burgoa de Quisbert
            </h5>            
        </div>
        <div class="col-12">
            <h5>
                Queremos que seas parte de este momento especial,
                que se llevara a cabo el dia Sabado
            </h5>
        </div>
    </div>
</div>

