.invitacion{
    color: #a58b1a;
    background-color: #f7f7f7; 
}


.nombres{
    font-family: 'Alex Brush', cursive;
}
p{
    font-family: 'Playfair Display', serif;
}

h4{
    font-family: 'Playfair Display', serif;
}
h5{
    font-family: 'Playfair Display', serif;
}
h6{
    font-family: 'Playfair Display', serif;
}
img{
    max-height: 500px;
}
span{
    font-family: 'Playfair Display', serif;
}

a{
    color: #002322;
}

.round{
    border-radius: 25px;
    margin: 10px;
    
}

