<div>
    <div class="row">
        <div class="col">
            
            <h5 class="lh-base">
                <span class="nombres fs-2 text-uppercase">
                    Fiesta  retro
                </span>
                <br>
                Estas invita@

                <br>
                <span class="h5">
                    Acompáñanos a celebrar los cumpleaños de:
                </span>
            </h5>
        </div>
        <div class="col-12">
            <h2 class="display-1 nombres">
                Esperanza
                <br>
                    y
                <br>
                Karlita
            </h2>
            <hr>

        </div>

    </div>
</div>