<div>
    <div class="row">
        <div class="col">
            <h5 class="lh-base">
                Bendice Señor nuestra unión, que el amor hacia ti sea la base de este matrimonio que hoy nos une y que
                nuestra
                vida sea un ejemplo de tu amor.
                <br>
                <span class="h6">
                    Nosotros:
                </span>
            </h5>
        </div>
        <div class="col-12">
            <h2 class="display-3 nombres">
                Elvira
                <br>
                y
                <br>
                Alex
            </h2>

        </div>

    </div>
</div>