<div>
    <div class="row invitacion justify-content-center">
        <div class="col-lg-4 col-10 col-md-6 py-xl-3  text-center text-center">
            <h4>
                <span>
                    <span class="pt-3 nombres">
                        Fiesta retro
                    </span>
                    <hr>
                    <span class="h5 m-1 pb-2">
                        no te lo pierdas, aqui la ubicacion:
                    </span>
                    <span>

                        <br>
                        calle franz tamayo esquina pelechuco nro. 4692
                        <br>
                        Villa mercedes E - El Alto
                    </span>
                </span>
                <br>
                <span class="fs-6 text-white-50">(click en la imagen para abrir google maps)</span>
                <a class="text-decoration-none " href="https://goo.gl/maps/Y2qfRPLVAWkhjm4L8" target="_blank">
                    <br>
                    <img class="img-fluid shadow round my-2"
                        src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/fiesta%2Ffabrica.jpg?alt=media&token=66921f43-676d-4b6e-afeb-f39dada25d61"
                        alt="">
                    <br>
                </a>
            </h4>
            <br>
        </div>
    </div>
</div>