<div class="container">
  <div class="row">
    <div class="invitacion col py-5 px-5 text-center">
      <h6>
        Con alegria
      </h6>
      <h2 class="display-1 nombres">
        Elvira
        <br>
        y
        <br>
        Alex
      </h2>
      <h6>
        Queremos compartir con ustedes la alegria <br> de unir nuestras vidas ante Dios, invitandolos a la ceremonia religiosa que se llevara a cabo en:
      </h6>
      <h4>
        <br>
        <a class="text-decoration-none " href="https://goo.gl/maps/6ZLokzWDkd4cwHvW7" target="_blank">Iglesia PIO X
          <br>
          <img class="img-fluid shadow rounded my-2"
            src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/imagen%20fiesta%2Fpio%20blanco.jpg?alt=media&token=1811a280-807d-4b3b-9072-24c1fb2ca051"
            alt="">
          <br>
          <span class="fs-6 text-muted">(click en la imagen para abrir google maps)</span>
        </a>
        <span class="h6">
          <br>
          Av. del policia, entre Arturo Ballivian Otero y Calle Hermano E. Morales
          <br>
          Ciudad Satelite - El Alto

        </span>
        <br>
        11:00 HRS.
        <br>
        <br>
        21 · mayo · 2022
      </h4>
      <span>
        <br>
        Pasada la ceremonia religiosa religiosa acompañanos <br> al brindis que se realizara en el
      </span>
      
      <h4>

        <a class="text-decoration-none" href="https://goo.gl/maps/p6ZGK1jJ4BxppjKG6" target="_blank">Salon de Eventos
          RENATAS
          <br>
          <img class="img-fluid shadow rounded my-2"
            src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/imagen%20fiesta%2Frenata%20blanco.jpg?alt=media&token=e8b9eb4a-2f02-4b80-951e-eb804c2f6b72"
            alt="">
          <br>
          <span class="fs-6 text-muted">(click en la imagen para abrir google maps)</span>
        </a>
        <span class="h6">
          <br>
          Av. del policia, esquina Alfreso Sanjines
          <br>
          Ciudad Satelite - El Alto
          <br>
        </span>
        <br>
        16:00 HRS
        <br>
      </h4>
      <br>
    </div>
  </div>
</div>