 <div>
  <div class="row invitacion justify-content-center">
    <div class="col-lg-4 col-10 col-md-6 py-xl-1  text-center">
      <h5 class="lh-base">
        Queremos compartir con ustedes la alegria de unir nuestras vidas ante Dios, invitandolos a la ceremonia religiosa que se llevara a cabo en la iglesia
        <br>
        <button type="button" class="button-55 text-secondary m-1" routerLink="iglesia">Pio X</button>
        <br>
        <span class="text-muted  h6">
          <a class="text-reset text-decoration-none" href="">(click para abrir el mapa)</a>
        </span>
        <br>
        a horas:
        <br>
        11:00 HRS.
        <br>
        del dia
        <br>
        21 · mayo · 2022
        <span>
          <br>
          Pasada la ceremonia religiosa religiosa acompañanos al brindis que se realizara en el salon de eventos
        </span>
        <br>
        <button type="button" class="button-55 text-secondary m-1" routerLink='iglesia'>Renatas</button>
        <br>
        <span class="text-muted  h6">
          <a class="text-reset text-decoration-none" href="">(click para abrir el mapa)</a>
        </span>
        <br>
        la fiesta empieza a horas
        <br>
        16:00 HRS
        <br>
        se agradece su asistencia
        <br>
      </h5>
    </div>
  </div>
</div> 