 <div>
  <div class="row">
    <div class="invitacion col py-5 px-5 text-center">
      <h6>
        Queremos compartir con ustedes la alegria <br> de unir nuestras vidas ante Dios, invitandolos a la ceremonia religiosa que se llevara a cabo en:
      </h6>
      <h4>
        <br>
        11:00 HRS.
        <br>
        <br>
        21 · mayo · 2022
      </h4>
      <span>
        <br>
        Pasada la ceremonia religiosa religiosa acompañanos <br> al brindis que se realizara en el
      </span>
      
      <h4>

        <br>
        16:00 HRS
        <br>
      </h4>
      <br>
    </div>
  </div>
</div> 