<div class="bg-dark">
    <div class="row">
        <div class="text-light col px-5 text-center">
            <h4>
                <span class="h6">
                    CEREMONIA RELIGIOSA:
                    <br>
                    Iglesia PIO X
                    <br>
                    Av. del policia, entre Arturo Ballivian Otero y Calle Hermano E. Morales
                    <br>
                    Ciudad Satelite - El Alto
                </span>
                <a class="text-decoration-none " href="https://goo.gl/maps/6ZLokzWDkd4cwHvW7" target="_blank">
                    <br>
                    <img class="img-fluid shadow round my-2"
                        src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/imagen%20fiesta%2Fpio%20blanco.jpg?alt=media&token=1811a280-807d-4b3b-9072-24c1fb2ca051"
                        alt="">
                    <br>
                    <span class="fs-6 text-muted">(click en la imagen para abrir google maps)</span>
                </a>
            </h4>
            <br>
        </div>
    </div>
</div>