<div>
    <div class="row invitacion justify-content-center">
        <div class="col-lg-4 col-10 col-md-6 py-xl-1  text-center text-center">
            <h4>
                <span>
                    SALON DE EVENTOS:
                    <br>
                    <br>
                    RENATAS
                    <br><br>
                    Av. del policia, esquina Alfredo Sanjines
                    <br>
                    Ciudad Satelite - El Alto
                </span>
                <br>
                <span class="fs-6 text-muted">(click en la imagen para abrir google maps)</span>
                <a class="text-decoration-none " href="https://goo.gl/maps/p6ZGK1jJ4BxppjKG6" target="_blank">
                    <br>
                    <img class="img-fluid shadow round my-2"
                        src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/imagen%20fiesta%2Frenata%20blanco.jpg?alt=media&token=e8b9eb4a-2f02-4b80-951e-eb804c2f6b72"
                        alt="">
                </a>
            </h4>
            <br>
            <app-itinerario></app-itinerario>
        </div>
    </div>
</div>